# Ignore development and build files
node_modules/
*.log
*.md

# Ignore test files
tests/
test/
*.test.js
example/
example
# Ignore editor and IDE files
.vscode/
.idea/
*.sublime-*

docs/
docs
# Ignore configuration files (keep this line)
tsconfig.json
babel.config.js